body, div, h2, h3, p {
	margin: 0; padding: 0; border: 0; scroll-behavior: smooth;
}

/*
header {
	height: 100px;
	background: #ffffff;
	width: 100%;
	z-index: 100;
	position: fixed;
	text-align: right; 
}*/

.wrapper {
	display: block;
}


#banner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,6,95,1) 62%, rgba(0,255,129,1) 100%);
	font-size: 40px;
	
	color: #ffffff;
}

.navbarContainer {
	position: relative;
}

#content {
	width: 100%;
	/*position: relative;
	top: 400px;
	background: #000000;*/
	height: 600px;
}

#content p{
	padding: 20px 100px 20px 100px;
	font-size: 30px;
}

#sidebar {
	background: #17a2b8;
	color: #fff;
	transition: all 0.5s;
	
	min-width: 250px;
	max-width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	left: 0px;
	/*display: none;*/
	opacity: 0;
}

#sidebar.active {
	/*display: block;*/
	opacity: 1;
	transition: all 0.5s;
	z-index: 9999;
}

#sidebar .sidebar-header {
	padding: 20px;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 3px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: #fff;
	text-decoration: none;
}

#sidebar ul li a:hover {
	background: #11889b;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #11889b;
	/*display: block;*/
	opacity: 1;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

.overlay {
	/*display: none;*/
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.overlay.active {
	/*display: block;*/
	opacity: 1;
	z-index: 9998;
}

#dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.parallax-window {
	min-height: 500px;
	background: transparent;
}

.tbTitle {
	color: #fff;
	font-size: 100px;
	padding: 200px 0;
	margin-left: 20px;
}
